

#root {
  text-decoration: none;
  background-color: hsl(0, 0%, 89%);
}

#root a{
  color: #000000;
  text-decoration: none;

}

#card{
  margin: 10px;
  position:relative;
}

svg{
  position: absolute;
  color: red;
  top: 20px;
  size: 30px;
  left: 10px;
}
